@font-face {
  font-family: "UnifrakturMaguntia";
  src: url("/font/UnifrakturMaguntia.ttf");
}
@font-face {
  font-family: "Coustard";
  src: url("/font/Coustard.ttf");
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url("/font/Wreg0Be4tcFGM2t6VWytvKpkxQ1nyBMhaPnv_ZMXNdQ.woff2") format('woff2');
  unicode-range: U+1F00-1FFF;
}
html {
  height: 100%;
}
img {
  max-width: 100%;
}
::selection {
  background: #333;
  color: #fff;
}
iframe {
  max-width: 100%;
  display: flex;
  align-self: center;
}
blockquote {
  padding: 1em;
  border-left: 8px solid #ff6363;
  margin: 0.5em 0 !important;
  background-color: #f8f9f9;
}
.not-found {
  display: none;
  text-align: center;
  color: #444;
}
#top {
  position: fixed;
  bottom: 1em;
  right: 2em;
  display: block;
  text-decoration: none;
  color: #444;
}
p {
  text-indent: 2em;
  word-break: break-all;
  word-wrap: break-word;
}
::-moz-selection {
  background: #333;
  color: #fff;
}
::-webkit-selection {
  background: #333;
  color: #fff;
}
.intro {
  font-size: 0.8em;
}
strong,
em {
  font-weight: 900;
  font-style: normal;
  color: #000;
  padding: 0 0.3em;
}
body {
  margin: 0;
  height: 100%;
  font-size: 1.25rem;
  font-family: 'Noto Serif', 'Times New Roman', serif !important;
  line-height: 1.5;
  padding: 0 30%;
  display: flex;
  flex-flow: column;
  align-items: space-between;
}
main,
.search-items {
  flex: 1;
}
@media screen and (max-width: 1300px) {
  body {
    padding: 0 10%;
  }
  .post .title {
    font-size: 1em !important;
  }
  #comments {
    margin: 0 -5%;
  }
  .gitment-editor-tab:not(.gitment-selected) {
    display: none !important;
  }
  .post .toc .toc {
    padding: 1.8em !important;
  }
  #top {
    display: none;
  }
  .tip ul {
    width: 80% !important;
  }
}
.header > * {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.header .title {
  text-decoration: none;
  font-weight: 200;
  font-size: 2.5em;
  color: #333;
  font-family: UnifrakturMaguntia;
  border-bottom: 1px dotted #ccc;
}
.header .title:hover {
  color: #444;
}
.header .motto {
  font-family: Coustard !important;
  color: #444;
  font-size: 0.4em;
  font-weight: 500;
  margin: 1em 0;
}
.header .navbar {
  font-family: Coustard !important;
  border: solid 1px #eee;
  border-width: 1px 0;
  margin-bottom: 2em;
}
.header .navbar .menu {
  margin: 0;
  padding: 0;
  text-align: center;
}
.header .navbar .menu .menu-item {
  display: inline-block;
  padding: 0.4em 0.8em;
}
.header .navbar .menu .menu-item .search {
  display: flex;
  align-items: center;
}
.header .navbar .menu .menu-item .menu-item-link {
  font-size: 0.8em;
  text-decoration: none;
  color: #333;
}
.header .navbar .menu .menu-item .search-icon {
  font-size: 0.6em;
}
.header .navbar .menu .menu-item .search-input {
  font-family: Coustard !important;
  border: none !important;
  font-size: 0.8em;
  color: #333;
  text-align: center;
}
.header .navbar .menu .menu-item .search-input::-ms-input-placeholder {
  text-align: center;
}
.header .navbar .menu .menu-item .search-input::-webkit-input-placeholder {
  text-align: center;
}
.header .navbar .menu .menu-item .search-input:focus {
  outline: none !important;
}
.post {
  margin-bottom: 2em;
}
.post > * {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.post .title {
  text-align: center;
  font-size: 1.2em;
  text-decoration: none;
  color: #444;
  font-weight: 600;
  margin-bottom: 0.3em;
}
.post .title:hover {
  color: #c30;
}
.post .meta {
  margin-bottom: 1em;
}
.post .meta > * {
  margin: 0;
  padding: 0;
  font-size: 0.7em;
  color: #444;
  margin-right: 0.5em;
}
.post .meta .date {
  white-space: nowrap;
}
.post .meta .category-list {
  white-space: nowrap;
}
.post .meta .category-list .category-list-item {
  display: inline-block;
  margin-right: 0.3em;
  white-space: nowrap;
}
.post .meta .category-list .category-list-item .category-list-link {
  text-decoration: none;
  color: #444;
}
.post .meta .category-list .category-list-item .category-list-link:hover {
  color: #c30;
}
.post .meta .tag-list {
  white-space: nowrap;
}
.post .meta .tag-list .tag-list-item {
  white-space: nowrap;
  display: inline-block;
  margin-right: 0.3em;
}
.post .meta .tag-list .tag-list-item .tag-list-link {
  text-decoration: none;
  color: #444;
}
.post .meta .tag-list .tag-list-item .tag-list-link:hover {
  color: #c30;
}
.post .content {
  display: block;
  color: #444;
  font-size: 0.8em;
  margin: 2em 0;
}
.post .content a:link,
.post .content a:active,
.post .content a:visited {
  color: #444;
  padding: 0 0.3em;
}
.post .content a:hover {
  background-color: #c30;
  opacity: 0.8;
  color: #fff;
}
.post .content p {
  text-indent: 2em;
}
.post .continue a {
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
  font-size: 0.7em;
  color: #444;
}
.post .continue a:hover {
  color: #c30;
}
.post .toc {
  justify-content: start;
  font-size: 0.9em;
  color: #444;
}
.post .toc .toc {
  padding: 2em 5em;
  margin-top: 2em;
  border: solid 1px #eee;
  margin-bottom: 2em;
}
.post .toc .toc .toc-item .toc-link {
  color: #444;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
  padding: 0 0.3em;
}
.post .toc .toc .toc-item .toc-link:hover {
  opacity: 0.8;
  background-color: #c30;
  color: #fff;
}
*:not(pre) code {
  background-color: #eaeaea;
  padding: 0.1em;
  font-weight: 300;
  margin: 0 0.2em;
  font-family: 'Noto Serif', 'Times New Roman', serif !important;
  border: 1px solid rgba(51,51,51,0.1);
  border-radius: 0.1em;
}
.more {
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.more a {
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #444;
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.more a:hover {
  color: #c30;
}
.more .prev,
.more .next {
  width: 40%;
}
.more .prev a {
  float: left;
  display: block;
}
.more .next a {
  float: right;
  display: block;
}
p img {
  display: block;
  position: relative;
  margin: 1em auto;
}
.write {
  margin-left: 0 !important;
}
.bdsharebuttonbox {
  padding-top: 2em;
  display: flex;
  justify-content: center;
}
.bdsharebuttonbox a {
  background-image: none !important;
  text-decoration: none;
  font-size: 0.8em !important;
}
.copy-right {
  overflow: hidden;
  flex-direction: column;
  display: flex;
  margin-top: 3em !important;
  padding: 1em;
  font-size: 0.8em;
}
.copy-right * {
  overflow: hidden;
  word-break: break-all;
  white-space: normal;
}
.copy-right a:link,
.copy-right a:visited {
  color: #ff6363 !important;
  text-decoration: none;
}
.tip {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tip button {
  align-self: center;
  background-color: #ff6363;
  border: none;
  color: #fff;
  font-size: 0.8em;
  padding: 0.4em 0.9em;
  border-radius: 0.3em;
  font-weight: 400;
}
.tip button:active {
  opacity: 0.9;
  -moz-box-shadow: 2px 2px 2px #ddd; /* 老的 Firefox */
  box-shadow: 2px 2px 2px #ddd;
}
.tip .tip-img {
  align-self: center;
  width: 100%;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  display: none;
}
.tip ul {
  width: 60%;
  margin: 0.5em 0 0 0;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}
.tip ul li {
  list-style-type: none;
  display: inline-block;
}
.tip ul li img {
  width: 100%;
  height: 100%;
  max-width: 6em;
}
.archive > * {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
}
.archive .post-archive .year {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin: 1em;
}
.archive .post-archive .post-item {
  padding: 0.2em 0;
  list-style-type: square;
  display: flex;
  justify-content: space-between;
}
.archive .post-archive .post-item .date {
  margin-right: 1em;
  white-space: nowrap;
}
.archive .post-archive .post-item .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: right;
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}
.page-nav {
  text-align: center;
  font-size: 0.7em;
  padding: 0.5em;
  margin: 5em 0;
}
.page-nav > * {
  margin-right: 0.5em;
  padding: 0.5em;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}
.page-nav a:active,
.page-nav a:link,
.page-nav a:visited {
  color: #c30;
}
.page-nav .current {
  color: #333;
}
.footer {
  line-height: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444;
  margin-top: 5em;
}
.footer .copyright {
  font-size: 0.6em;
  color: #444;
}
.footer .copyright .link {
  color: #c30;
  text-decoration: none;
}
#comments {
  border-top: 1px dotted #ccc;
  margin-top: 2em;
}
#comments * {
  font-family: Coustard !important;
}
#comments .gitment-header-issue-link,
#comments .gitment-editor-footer-tip,
#comments .gitment-footer-container {
  display: none !important;
}
#comments .gitment-editor-login-link {
  padding: 0.2em 0.5em;
  color: #c30 !important;
  text-decoration: none !important;
}
#comments .gitment-editor-login-link:hover {
  color: #fff !important;
  background-color: #c30;
  opacity: 0.9;
}
#comments .gitment-editor-submit {
  background-color: #c30 !important;
  font-weight: 300;
}
.sns {
  padding: 0;
}
.sns li {
  list-style-type: none;
  display: inline-block;
}
.sns li a {
  text-decoration: none;
  color: #444;
}
.base {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.base .avastar {
  align-self: center;
  width: 6em;
  height: 6em;
  border-radius: 100%;
}
.base .name {
  align-self: center;
  margin-top: 0.5em;
}
.base .fields {
  align-self: center;
}
.sns {
  display: flex;
  justify-content: center;
}
.sns .sns-items {
  padding: 0;
}
.sns .sns-items .sns-list-item {
  margin-left: 0.3em;
  align-items: center;
}
.sns .sns-items .sns-list-item .fa {
  font-size: 1.2em;
}
