@font-face {
  font-family: "UnifrakturMaguntia";
  src: url("../font/UnifrakturMaguntia.ttf");
}
@font-face {
  font-family: "Coustard";
  src: url("../font/Coustard.ttf");
}
body {
  font-size: 1.25rem;
  font-family: Coustard;
  line-height: 1.5;
  padding: 2% 20%;
}
.code,
.gutter {
  background-color: #333;
  color: #f9f9f9;
  padding: 0 10px;
}
.header > * {
  display: flex;
  justify-content: center;
}
.header .title {
  font-weight: 300;
  font-size: 2.5em;
  font-family: UnifrakturMaguntia;
  border-bottom: 1px dotted #ccc;
}
.header .motto {
  color: #444;
  font-size: 0.5em;
  font-weight: 500;
}
.header .navbar {
  border: solid 1px #eee;
  border-width: 1px 0;
}
.header .navbar .menu {
  margin: 0;
  padding: 0;
}
.header .navbar .menu .menu-item {
  display: inline-block;
  padding: 0.3em 0.8em;
}
.header .navbar .menu .menu-item .menu-item-link {
  font-size: 0.8em;
  text-decoration: none;
  color: #333;
}
.post {
  margin: 1em auto;
  padding: 1.5em 2em;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.post .post-meta {
  font-size: 0.7em;
  padding: 1em 0;
}
.post ul {
  display: block;
  padding: 0;
  margin: 0;
}
.post ul li {
  list-style-type: none;
  display: inline;
  margin-right: 0.5em;
}
.post ul li a {
  font-size: 0.7em;
  text-decoration: none;
  border-radius: 0.2em;
  color: #fff;
  background-color: #0c9;
  padding: 0.3em 0.5em;
}
.post .title {
  margin: 0;
}
.posts ul {
  display: block;
  padding: 0;
  margin: 0;
}
.posts ul li {
  list-style-type: none;
  display: inline;
  margin-right: 0.5em;
}
.posts ul li a {
  font-size: 0.7em;
  text-decoration: none;
  border-radius: 0.2em;
  color: #fff;
  background-color: #0c9;
  padding: 0.3em 0.5em;
}
.posts .title {
  margin: 0;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-title {
  font-size: 1.5em;
}
.posts .post-title .post-title-link {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-content {
  color: #aaa;
}
.posts .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-meta {
  color: #bababa;
}
.archive {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #368ccb;
  text-decoration: none;
}
.page-nav {
  text-align: center;
  font-size: 1em;
  padding: 0.5em;
}
.page-nav > * {
  background-color: #ddd;
  margin-right: 0.5em;
  padding: 0.5em;
}
.page-nav .extend {
  padding: 0.5em;
  text-decoration: none;
  color: #0c9;
}
.page-nav .page-number {
  padding: 0.5em;
  text-decoration: none;
  color: #0c9;
}
.page-nav .current {
  padding: 0.5em;
  color: #333;
}
